// palette: #2D2D2D | #D7C9AE | #A68763 | #EAE0D2

$bg: #eae0d2;
$surface: #ffffff;
$text: #2d2d2d;
$text-h: #2d2d2d;
$border: #d7c9ae;
$input-bg: #ffffff;
$input-border: #d7c9ae;
$accent: #a68763;
$accent-bg: rgba(166, 135, 99, 0.1);
$accent-border: rgba(166, 135, 99, 0.4);
$accent-secondary: #d7c9ae;
$shadow: rgba(0, 0, 0, 0.536);
