@use "../../scss/variables/variables" as c;

.container {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: c.$bg;
}
